# Ignores the specified file/directory glob patterns
# from being tracked in a git repository.
#
# An untracked file is ignored if its path relative to the repository root directory,
# or any prefix path of that path, is matched.
# Files are only ignored when being added or updated.
# Untrack already tracked files with `git rm --cached filename`.
# Force adding or updating ignored file with `git add -f filename`.
#
# Blank lines or lines starting with # are ignored.
# Standard glob patterns work (~, ?, *, [characterset]).
# You can end patterns with a forward slash (/) to match a directory explicitly.
# You can negate a pattern by starting it with an exclamation point (!).
#
# See http://help.github.com/git-ignore/
# See http://git-scm.com/docs/gitignore.html
# See http://git-scm.com/book/ch2-2.html#ignoring_files
# See http://google.com/search?num=100&hl=en&q=gitignore
# See https://github.com/github/gitignore
#
# Test the pattern matches by printing all untracked files in the current repository
# `git ls-files --others --exclude-from=.git/info/exclude`
# Note, that it only excludes patterns in a non-shared settings in .git/info/exclude.

# Mercurial repository info:
.hg/

# Executable scripts (no extension, or python version at the end) in bin: 
bin/*
!bin/*.*
bin/*-?.?

# Compiled source:
*.com
*.class
*.dll
*.exe
*.o
*.so
*.py[oc]
*-script.py

# Packages:
#  - it's better to unpack these files and commit the raw source
#    git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Databases:
*.sql
*.sqlite
index.yaml

# Logs:
*.log.*
*.log
pip-log.txt
bulkloader-log-*
bulkloader-progress-*

# OS generated files:
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# IDE/editor/merge/backup files
*~
*.bak
.idea
*.swp
*.orig

# Log files:
*.log

# Distribute/setuptools bootstrap:
distribute_setup.*
ez_setup.*

# Build and dist directories:
.sass-cache/
=build/
build/
dist/
dist.zip
*.egg-info

# Buildout files and directories: 
src/
var/
eggs/
.installed.cfg
.mr.developer.cfg

# Additional tools:
bin/*/

# Temporary directories:
/.tmp/
/tmp/

# Auth files:
oauth.txt
/apps.yaml

# User ignored files:
\!*
