##| Buildout configuration.
[buildout]
parts =
    gae_sdk
    gae_tools
    app_lib
    var_lib

##| Checkout and build the following packages from a repository in [sources].
##| See http://pypi.python.org/pypi/mr.developer for help.
# extensions = mr.developer
auto-checkout = *
always-checkout = force

##| Generate relative paths for eggs so that the buildout can be moved around.
relative-paths = true

##| Unzip eggs automatically, if needed.
unzip = true

##| Define versions for installed packages.
extends = versions.cfg
versions = versions
# show-picked-versions = true

##| Enable this to save all picked versions in the versions.cfg file.
# extensions = buildout.dumppickedversions
# dump-picked-versions-file = versions.cfg

##| Keep internal stuff in a subdirectory.
download-cache = var/downloads
##| Buildout bug: it doesn't honor custom eggs dir in parts/buildout/site.py
##| Until it is fixed we need to use the standard eggs dir.
# eggs-directory = var/eggs
develop-eggs-directory = var/develop-eggs
parts-directory = var/parts

[gae_sdk]
##| Dowloads and extracts the App Engine SDK.
recipe = appfy.recipe.gae:sdk
url = http://googleappengine.googlecode.com/files/google_appengine_1.7.5.zip

[gae_tools]
##| Installs appcfg, bulkload_client, bulkloader, dev_appserver, remote_api_shell
##| and python executables in the bin directory.
recipe = appfy.recipe.gae:tools
##| Add these paths to sys.path in the generated scripts.
##| The app libs have to be added to sys.path from application anyway on production.
extra-paths =
    lib
    var/lib
    app
    app/lib
    app/lib/dist

[sources]
##| Put the original project repository here to run with the latest changes,
##| or your forked repository to run with your custom changes.

[app_lib]
##| Sets the library dependencies for the app.
recipe = appfy.recipe.gae:app_lib
lib-directory = app/lib/dist
use-zipimport = true

##| Define the packages to download.
eggs =
#    gaepytz
#    unidecode

##| Webapp2 and Jinja2 already available using python 2.7 supported libraries on App Engine
##| See https://developers.google.com/appengine/docs/python/python27/using27#Configuring_Libraries
##| See https://developers.google.com/appengine/docs/python/tools/libraries27

##| Don't copy files that match these glob patterns.
ignore-globs =
    *.c
    *.pyc
    *.pyo
    *.so
    */test
    */tests
    */testsuite
    */django
    */sqlalchemy

##| Don't install these packages or modules.
ignore-packages =
    distribute
    setuptools
    easy_install
    site
    ssl
    pkg_resources

[var_lib]
##| Sets the library dependencies for local scripts.
recipe = appfy.recipe.gae:app_lib
lib-directory = var/lib
use-zipimport = false

##| Define the packages to download.
eggs =
#    gaepytz
#    unidecode

     pil
     pyyaml

     shpaml
     watchdog

     see
     ipdb
     ipython

     jinja2
     webapp2
